
* {
    margin: 0;
    padding : 0;
}
p {
    color:white;
}
a {
    cursor: pointer;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: #3c373e;
}
.content {
    width: 100%;
    height: 100%;
}
.profile {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #3c373e;
    color: white;
}
.profile > a {
    margin: 20px;
    text-decoration: none;
    color: white;
}



/* container */
.container {
    width: 100%;
    height: 80%;
    background-color: #3c373e;
}
form {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #3c373e;


}
form > input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    background-color: #3c373e;
    margin-bottom: 20px;
}
textarea:focus {
    border: 1px solid yellow;
}
form > textarea {
    width: 100%;
    height: 300px;
    resize: none;
    box-sizing: border-box;
    color:white;
    background-color: #3c373e;
}
input:focus {
    border: 1px solid yellow;
}

form >button {
    width: 100%;
    height: 40px;
    background-color: #0f6674;
    border: 1px solid #000000;
    color: white;
    margin-top: 30px;

}


.footer {
    width: 100%;
    height: 10%;
    background-color: #3c373e;
}

